.mainBox {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100vw;
}

div {
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-content {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 200pt;
    height: fit-content;
    line-height: 1;
    font-family: var(--mono);
}

.shot-clock {
    font-size: 150pt;
    color: #cccccc;
    font-family: var(--mono);
}

.quarter {
    font-size: 100pt;
}

.score {
    font-size: 200pt;
    line-height: 1;
}

.dark {
    color: #ff2222;
}

.modal {
    position: absolute;
    background: #26272d;
    height: 80vh;
    width: 80vw;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    padding-top: 15px;
}

.name {
    font-size: 50pt;
    font-weight: 500;
}

.red {
    color: #990000;
}
